h1 {
    color: gray;
}

body {
    text-align: center;
    font-size: x-small;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    cursor: pointer;
    color: gray;
}

li {
    text-align: justify;
    margin-top: 20px;
}