body {
  background-color: rgb(253, 251, 251);
}

body > * {
  font-family: Roboto Mono, monospace;
  font-size: 20%;
}

.lado-direito {
  background-color: aquamarine;
}

.borda_tool > * {
  border: 2px solid black;
  
}



.main {
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
}

.header {
  background-color: azure;
}

.menu_navigator {
  position: sticky;
  top: 0.1px;
  z-index: 1;
  border: 3px solid black;
  background-color: aqua;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.header > span {
  display: block;
  text-align: center;
}

.header_footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

#contact > a > img {
  width:20px;
}
#apresentation > section > img {
  width: 20px;
  border-radius: 50%;
}
