.App {
  background-color: rgb(0, 0, 0);

  background-size: 100%;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: end;
  position: relative;


}

.app {
  background-color: rgb(0, 0, 0);
  background-size: 100%;
    width: calc(100vw - 25px);
    height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: end;
  position: relative;
}

.disabled {
    font-size: 0px;
    width: 0px;
    padding: 0px;
    transition: all .2s cubic-bezier(.5, .1, .75, 1.35);
}

.enabled {
    transition: all .2s cubic-bezier(.5, .1, .75, 1.35);
}

.page {
    background-color: rgba(40, 224, 80, 0.22);

    width: calc(100vw - 25px);
    height: 100vh;

    min-height: 40vh;

    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
}







.fade-enter {
    font-size: 0px;
    width: 0px;
    padding: 0px;

}

.fade-enter-active {
    font-size: calc(10px + 2vmin);
    width: calc(100vw - 25px);
    padding: 0px;
    transition: all .3s cubic-bezier(.5, .1, .75, 1.35);
}

















