.Main {
    background-color: rgba(224, 40, 40, 0.22);

    width: calc(100vw - 25px);
    height: 100vh;

    min-height: 40vh;

    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;

}