.Projects {
    background-color: rgba(74, 26, 206, 0.22);

    width: calc(100% - 25px);
    height: 100%;

    min-height: 40vh;

    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;

}