.App {
  background-color: white;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTokMUN-hhBnuD9qa98BAMSRKOSnBvcZNOG27OhNEOZ10hYY652abW1TFnFeYxSnNN2Gws&usqp=CAU');
  width: 100%;
  height: 100%;
  border: 3px solid black;
  position: relative;
}